body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 3rem;
    text-align: center;
}

#main-canvas {
    display: block;
    margin: 0 auto;
}

.canvas-input {
    background-color: whitesmoke;
    position: absolute;
    margin: auto;

}